@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Pretendard';
        src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
    }

    body {
        margin: 0;
        font-family:
            'Pretendard Variable',
            Pretendard,
            -apple-system,
            BlinkMacSystemFont,
            system-ui,
            Roboto,
            'Helvetica Neue',
            'Segoe UI',
            'Apple SD Gothic Neo',
            'Noto Sans KR',
            'Malgun Gothic',
            'Apple Color Emoji',
            'Segoe UI Emoji',
            'Segoe UI Symbol',
            sans-serif;
    }
}

@layer components {
    .badge {
        @apply relative top-[-1px] inline-block rounded-lg font-medium;

        &-sm {
            @apply h-5 px-[0.375rem] py-[0.0625rem] text-[0.75rem];
        }

        &-md {
            @apply h-6 px-[0.5rem] py-[0.1875rem] text-[0.75rem];
        }

        &-lg {
            @apply h-8 px-[0.625rem] py-[0.3125rem] text-[0.875rem];
        }

        &-primary {
            @apply bg-primary/[.16] text-[#1d6ce0];
        }

        &-warning {
            @apply bg-warning/[.16] text-[#b35809];
        }
    }
}

@layer components {
    .tooltip {
        @apply rounded-lg bg-black px-2 py-[.375rem] text-paragraph-sm text-white;
    }
}
