name: Build and Zip Extension

on:
    workflow_dispatch:
        inputs:
            branch:
                description: 'Build branch (default: develop)'
                required: false
                default: develop
                type: string

jobs:
    build:
        name: Build
        timeout-minutes: 5
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.event.inputs.branch }}

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: 1.3.3

            - name: env setting
              run: |
                  echo "VITE_GITHUB_OWNER=${{ github.repository_owner }}" >> .env
                  echo "VITE_GITHUB_REPO=${{ github.repository }}" >> .env

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build
              run: bun run build

            - name: Upload extension artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: unofficial-flex-extension
                  path: dist
